@model GovEgy_2.Models.Contact

@{
    ViewBag.Title = "Create";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">


        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown" style="color:white">تواصل معنا لأي أستفسار</h2>
                @*
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                *@

            </div>
        </div>
    </div>
</section><!-- End Hero -->

@if (User.IsInRole("Admin"))


{
    <div class="btn btn-style btn-light mt-sm-3" href="about.html" style="color:white;text-align:center">
        @Html.ActionLink("صفحة اتصالاتنا", "Index")<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
    </div>
}

<br />
<div style="margin-left:25%;margin-right:25%">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    <h4 style="text-align:center">اسمك</h4>

                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <h4 style="text-align:center">بريدك الالكتروني</h4>

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <h4 style="text-align:center">رقم تليفونك</h4>

                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <h4 style="text-align:center">رسالتك</h4>

                    @Html.TextAreaFor(model => model.Message, 10, 40, htmlAttributes: new { style = "width:100%; max-width:100%" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="ارسال الرسالة" class="btn btn-success" />
                </div>
            </div>
        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

<div class="map-content-9">
    <div class="map-iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d215.8110148682896!2d31.2005818!3d30.0662156!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458419410a30793%3A0x48ba2080221769b7!2sDiwan%20Al%20Arab%20for%20business%20services!5e0!3m2!1sen!2seg!4v1695408683352!5m2!1sen!2seg" width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen="" "></iframe>
    </div>
    <br />
</div>